.ui.static.menu {
	border-radius: 0;
}

.ui.inverted.blue.attached.segment {
	border-color: #3b83c0;
}

.ui.inverted.blue.attached.segment a {
	color: #fff;
}
.ui.inverted.blue.attached.segment a:hover {
	color: #E6E6E6;
	text-decoration: underline;
}

.ui.items > .item > .content > .description {
	margin-top: 0;
	max-width: auto;
	font-size: 1em;
	line-height: 1.33;
	color: rgba(0, 0, 0, 0.8);
}
.thread-title {
	padding: 0.75rem 1rem!important;
}
.thread-title h4 {
	margin-top: 0;
	margin-bottom: 0;
}