.popover-content {
	padding: 0;
}

.popover-content p{
	padding: 9px 14px 0;
	color:black;
}

.popover-content a{
	width: 100%;
}


/*This is to fix the alert!*/
.alert {
	position:fixed;
	bottom: 1%;
	left: 15%;
	width: 70%;
	opacity: 0.9;
	z-index:100;
}
